.field {
  display: flex;
  flex-direction: column;
}
.textField {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  min-width: 20rem;
}
.invalid {
  border-color: red;
}
.error {
  color: red;
  font-size: .6rem;
}

